<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
<app-navbar></app-navbar>

<div class="bootstrap-iso edit m-l-2 "  >
  <h2 class="m-3"> Perfil del usuario </h2>
 <div class="container-fluid ">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 center-content">
    <form method="post">
     <div class="form-group ">
      <label class="control-label " for="name">
       Nombre
      </label>
      <input class="form-control" id="name" name="name" type="text" placeholder="Ingrese solos sus nombres"/>
     </div>

     <div class="form-group ">
        <label class="control-label " for="apellido">
        Apellido
        </label>
        <input class="form-control" id="name" name="name" type="text"  placeholder="Ingrese su apellido"/>
       </div>
       <div class="form-group ">
        <label class="control-label " for="domicilio">
        Domicilio
        </label>
        <input class="form-control" id="name" name="name" type="text" placeholder="Ingrese domicilio"/>
       </div>
       <div class="form-group ">
        <label class="control-label " for="ubicacion">
        Ubicación
        </label>
        <input class="form-control" id="name" name="name" type="text" placeholder="Ingrese pais y ciudad"/>
       </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       Email
      </label>
      <input class="form-control" id="email" name="email" type="text" placeholder="Ingrese correo electrónico"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="text">
       Título
      </label>
      <input class="form-control" id="text" name="text" type="text" placeholder="Ingrese pofesión"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="tel">
       Teléfono
      </label>
      <input class="form-control" id="tel" name="tel" type="text" placeholder="Ingrese teléfono o whatsapp"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url">
       URL banner
      </label>
      <input class="form-control" id="url" name="url" type="text" placeholder="Ingrese ULR de imagen para baner"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url1">
       URL foto de perfil
      </label>
      <input class="form-control" id="url1" name="url1" type="text" formControlName="URLfoto" 
      placeholder="Ingrese URL de foto de perfil"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url2">
       URL Instagram
      </label>
      <input class="form-control" id="url2" name="url2" type="text" placeholder="Ingrese ULR de su instagram"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url3">
       URL Facebook
      </label>
      <input class="form-control" id="url3" name="url3" type="text" placeholder="Ingrese ULR de su facebook"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url4">
       URL LinkedIn
      </label>
      <input class="form-control" id="url4" name="url4" type="text" placeholder="Ingrese ULR de su Linkedin"/>
     </div>
   
    
     <div class="form-group ">
      <label class="control-label " for="text1">
       Especialidad principal
      </label>
      <input class="form-control" id="text1" name="text1" type="text" placeholder="Detalle su especialidad principal"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="text2">
       Especialidad Secundaria
      </label>
      <input class="form-control" id="text2" name="text2" type="text" placeholder="Detalle su especialidad secundaria"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="text3">
       Especialidad Terciaria
      </label>
      <input class="form-control" id="text3" name="text3" type="text" placeholder="Detalle su especialidad tercialia"/>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Guardar
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

