<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
<app-navbar></app-navbar>

<div class="bootstrap-iso edit m-l-2 "  >
  <h2 class="m-3"> Agregar o modificar tabajos y proyectos ralizados</h2>
 <div class="container-fluid ">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 center-content">
    <form method="post">
        <div class="form-group ">
            <label class="control-label " for="período">
           URL imagen trabajo o proyecto
            </label>
            <input class="form-control" id="name" name="name" type="text" placeholder="URL imagen de captura de pantalla de trabajo "/>
           </div>
     <div class="form-group ">
      <label class="control-label " for="titulo">
       Título o nombre
      </label>
      <input class="form-control" id="name" name="name" type="text" placeholder="Título corto del trabajo"/>
     </div>

     <div class="form-group ">
        <label class="control-label " for="descripcion">
        Descripción
        </label>
        <input class="form-control" id="name" name="name" type="text"  placeholder="Describa carrera, título o curso"/>
       </div>


       <div class="form-group ">
        <label class="control-label " for="linkalugardestudio">
        Link
        </label>
        <input class="form-control" id="name" name="name" type="text" placeholder="Link a web o github del trabajo"/>
       </div>
       
          <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Guardar
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
