<div id="edu"  class="educacion container-fluid ">
    <h2  class="titulo-div">Educación</h2>
    <div class="row">
      <div class="col-md-6 col-xl-3 my-3">
        <div class="card">
          <img class="card-img-top img-fluid centrador"  src="./assets/img/conet.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Electrotécnico Nacional</h5>
            <p class="card-text">Título secundario de Electrotécnico Nacional, otorgado por consejo nacional de educación técnica. Escuela ENET N°1 Dr. Nicolás Avellaneda - Santa Fe.</p>
          </div>
        </div>
      </div> 
      <div class="col-md-6 col-xl-3 my-3 " >
        <div class="card ">
          <img class="card-img-top img-fluid centrador" src="./assets/img/logo-universidad-nacional-del-litoral-argentina-UNL.gif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Analista en Informática Aplicada</h5>
            <p class="card-text">Título obtenido en Facultad de Ingeniería e Ciencias Hidricas de la 
              <a href="https://www.unl.edu.ar"  target="_blank">Universidad Nacional del Litoral</a>.
              </p>
          </div>
        </div>
      </div> 
      <div class="col-md-6 col-xl-3 my-3 ">
        <div class="card">
          <img class="card-img-top img-fluid centrador" src="./assets/img/cisco.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">CCNA 1, 2 y 3</h5>
            <p class="card-text">Cisco Certified Network Associate. Routing and Switching Essentials. <a href="https://www.netacad.com/es/node/24137" target="_blank">Academia cisco UTN FRSF</a>.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 my-3 ">
        <div class="card">
          <div class="card-img-top " style="width: 18rem;">
          <img src="./assets/img/arg-programa.png" class="card-img-top img-fluid centrador" alt="...">
            <div class="card-body">
            <h5 class="card-title">SeProgramar</h5>
            <p class="card-text">Primera etapa del programa Argentina Programa. Fundamentos de programación, JavaScript, Ruby Programación Orientada a objetos </p>
            <a href="./assets/img/seprogramar.jpg" class="btn btn-primary" >Certificado</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 my-3 ">
        <div class="card" style="width: 18rem;">
        <img src="./assets/img/800px-FreeCodeCamp_logo.png" class="card-img-top img-fluid centrador" alt="...">
          <div class="card-body">
          <h5 class="card-title">freecodecamp</h5>
          <p class="card-text">Curso de Diseño Web Responsive</p>
          <a href="https://www.freecodecamp.org/certification/fcc512e0a93-8512-457d-88e3-bb01e88b3b25/responsive-web-design" class="btn btn-primary" target="_blank">Certificado</a>
          </div>
        </div>

      </div>
    </div>  
  </div>