<h1 class="m-5">Iniciar sesión de tu porfolio</h1>
<form [formGroup]="form" class="m-5"(ngSubmit)="onLogin($event)" novalidate name="loginForm"
                    >

          
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                
                 <!--formControlName="email" ojo que habia usado así-->
                <input type="email"
                id="nombreUsuario" formControlName="nombreUsuario"
                required  placeholder="Ingrese su usuario" 
                [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 
                'is-valid': !Email?.errors && Email?.touched}"
                [(ngModel)]="nombreUsuario"
                class="form-control" id="exampleInputEmail1" 
                aria-describedby="emailHelp">

                              <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                  El email es obligatorio
                </p> 
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                  El formato del email debe ser válido
                </p> 
              </div>
              </div>

              <!-- se quitaron por obsoletetos
                [(ngModel)]="nombreUsuario"


              [(ngModel)]="password"-->
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                
                <input type="password" formControlName="password"  id="password" 
                required 
                
                [(ngModel)]="password"
                
                placeholder="Ingrese su contraseña" 
                [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 
                'is-valid': !Password?.errors && Password?.touched}" 
                class="form-control" id="exampleInputPassword1">


                <div *ngIf="Password?.errors && Password?.touched">
                  <p *ngIf="Password?.hasError('required')" class="text-danger">
                  La contraseña es obligatoria
                  </p> 
                  <p *ngIf="Password?.hasError('minlength')"  class="text-danger">
                    La contarseña no puede ser menor de 8 caracteres
                  </p> 
                </div>
              </div>
            
              <button type="submit" class="btn btn-primary" >Enviar</button>
              <button class="btn btn-primary m-2" routerLink="/">
                <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
  </form>

