<div class=" text-bg-dark">
 

    <nav class="container navegador ">
      <div class="  d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div>
            <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">
                <img src="./assets/img/APLogo-20-20.png" alt="Logo yo programo" height="80">
            </a>
        </div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#./" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#exp" class="nav-link px-2 text-white">Experiencia</a></li>
          <li><a href="#edu" class="nav-link px-2 text-white">Educación</a></li>
          <li><a href="#hab" class="nav-link px-2 text-white">Habilidades</a></li>
          <li><a href="#pro" class="nav-link px-2 text-white">Proyectos</a></li>
        </ul>
     
        <div class="text-end">
          <button (click)="showData()" type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Registro</button>
        </div>
      </div>
    </nav>
  
  </div>
  