<div id="pro" class="trabajos container-fluid">

  <div class="titulo-parte">
    <h2 class="titulo-div">Proyectos Realizados</h2>
    <app-botoneditar></app-botoneditar>    
</div>

    
    <div class="row card-deck">
      
      <div class="col-md-6 col-xl-3 my-3">
        <div class="tarjetas">
          <div class="card" style="width: 18rem;">
          <img src="./assets/img/seprogramar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">SeProgramar</h5>
            <p class="card-text">Primera etapa del programa Argentina Programa. Fundamentos de programación, JavaScript, Ruby Programación Orientada a objetos </p>
            <a href="#./assets/img/seprogramar.jpg" class="btn btn-primary" target="_blank">Certificado</a>
            </div>
          </div>

        </div>
        </div>
        <div class="col-md-6 col-xl-3 my-3">
          <div class="tarjetas">
            <div class="card" style="width: 18rem;">
            <img src="./assets/img/seprogramar.jpg" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">SeProgramar</h5>
              <p class="card-text">Primera etapa del programa Argentina Programa. Fundamentos de programación, JavaScript, Ruby Programación Orientada a objetos </p>
              <a href="#./assets/img/seprogramar.jpg" class="btn btn-primary" target="_blank">Certificado</a>
              </div>
            </div>
  
          </div>
          </div>
          <div class="col-md-6 col-xl-3 my-3">
            <div class="tarjetas">
              <div class="card" style="width: 18rem;">
              <img src="./assets/img/seprogramar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">SeProgramar</h5>
                <p class="card-text">Primera etapa del programa Argentina Programa. Fundamentos de programación, JavaScript, Ruby Programación Orientada a objetos </p>
                <a href="#./assets/img/seprogramar.jpg" class="btn btn-primary" target="_blank">Certificado</a>
                </div>
              </div>
    
            </div>
            </div>
            

    </div>    
  </div>