<div class="imagen cad mat-card">
    <img src="./assets/img/code-screen_t.jpg" alt="fondo" class="fondo">
    <img width="60" src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Prescription02&hairColor=Black&facialHairType=BeardLight&facialHairColor=Platinum&clotheType=BlazerSweater&eyeType=Default&eyebrowType=FlatNatural&mouthType=Default&skinColor=Brown'
  alt="retrato" class=" retrato">
  </div>
    
   
      <!--<button type="button" class="btn btn-primary btn-sm" onclik="cambiar_parrafo">Editar</button>
      <input id="edit-encabezado" oninput="myfunction2(this.value)" 
      style ="display:none" type="text">
      <div id="textoprueba">zzxcxcz</div>-->

     

      <article class="descripcion" style="padding-left: 16px;">
        <div class="titulo-parte">
              <h1 id="nombreporfolio">{{miPorfolio.nombrePersona}}</h1>
              <app-botoneditar></app-botoneditar>    
        </div>
     
       <h3>{{miPorfolio.titulo}}</h3>
      
        <div  class="row">
          <div class="col-xs-1 col-md-4 col-sm-12">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{miPorfolio.expertoEn.primero}}</li>
              <li class="list-group-item">{{miPorfolio.expertoEn.segundo}}</li>
              <li class="list-group-item">{{miPorfolio.expertoEn.tercero}}</li>
            </ul>
          </div>     
        </div>   
      </article>


  <script>
    function cambiar_parrafo() { 
      document.getElementById("edit-encabezado").style.display="block";
      let texto = document.getElementById("textoprueba").innerText;
      console.log(texto);
    };

    //function myfunction2(valor){
     // document.getElementById("nombreporfolio").innerText = valor;
   // };

    //let textarea = document.getElementById("edit-ecabezado")
    //textarea.addEventListener('keyup, (0) => {
    //  logMessage('Key "${e.key}" released [event:keyup],');
     // if (e.key=="Enter"){
       // document.getElementById("edit-ecabezado").style.display="none"
    //  }
    // })
  </script> 