<link
  rel="stylesheet"
  href="https://formden.com/static/cdn/bootstrap-iso.css"
/>
<app-navbar></app-navbar>

<div class="bootstrap-iso edit m-l-2">
  <h2 class="m-3">Perfil del usuario</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 center-content">
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="encabezadoForm">
          <div class="form-group">
            <label class="control-label" for="nombre"> Nombre </label>
            <input class="form-control" id="nombre" formControlName="nombre" type="text"
              placeholder="Ingrese solo sus nombres" />
          </div>
        
          <div class="form-group">
            <label class="control-label"> Apellido </label>
            <input class="form-control" id="apellido" formControlName="apellido" type="text"
              placeholder="Ingrese su apellido" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="titulo"> Título </label>
            <input class="form-control" id="titulo" formControlName="titulo" type="text" placeholder="Ingrese pofesión" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="domicilio"> Domicilio </label>
            <input class="form-control" id="domicilio" formControlName="domicilio" type="text"
              placeholder="Ingrese domicilio" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="ubicacion"> Ubicación </label>
            <input class="form-control" id="ubicacion" formControlName="ubicacion" type="text"
              placeholder="Ingrese pais y ciudad" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="telefono"> Teléfono </label>
            <input class="form-control" id="telefono" formControlName="telefono" type="text" 
            placeholder="Ingrese teléfono o whatsapp" />
          </div>
        
          <div class="form-group">
            <label class="control-label requiredField" for="email">
              Email
            </label>
            <input class="form-control" id="email" formControlName="email" type="text"
              placeholder="Ingrese correo electrónico" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="urlfacebook"> URL Facebook </label>
            <input class="form-control" id="urlfacebook" formControlName="urlfacebook" type="text" 
            placeholder="Ingrese URL de su facebook" />
          </div>
        
        
        
          <div class="form-group">
            <label class="control-label" for="urlinstagram"> URL Instagram </label>
            <input class="form-control" id="urlinstagram" formControlName="urlinstagram" type="text"
              placeholder="Ingrese URL de su instagram" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="urllinkedin"> URL LinkedIn </label>
            <input class="form-control" id="urllinkedin" formControlName="urllinkedin" type="text"
            placeholder="Ingrese URL de su Linkedin" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="urlbaner"> URL banner </label>
            <input class="form-control" id="urlbaner" formControlName="urlbaner" type="text"
              placeholder="Ingrese URL de imagen para baner" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="urlabatar"> URL foto de perfil </label>
            <input class="form-control" id="urlabatar" formControlName="urlabatar" type="text" 
             placeholder="Ingrese URL de foto de perfil" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="expertoEnprimero">
              Especialidad principal
            </label>
            <input class="form-control" id="expertoEnprimero" formControlName="expertoEnprimero" type="text"
              placeholder="Detalle su especialidad principal" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="expertoEnsegundo">
              Especialidad Secundaria
            </label>
            <input class="form-control" id="expertoEnsegundo" formControlName="expertoEnsegundo" type="text"
              placeholder="Detalle su especialidad secundaria" />
          </div>
        
          <div class="form-group">
            <label class="control-label" for="expertoEntercero">
              Especialidad Terciaria
            </label>
            <input class="form-control" id="expertoEntercero" formControlName="expertoEntercero" type="text"
              placeholder="Detalle su especialidad tercialia" />
          </div>
        
          <div class="form-group">
            <div>
              <button class="btn btn-primary" Name="submit" type="submit">
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
