<div id="exp" class="experiencia container-fluid">
  <div class="titulo-parte">
    <h2 class="titulo-div">Experiencia</h2>
    <app-botoneditar></app-botoneditar>    
</div>


  
    
       <div class="row">
      <div class="col-md-6 col-xl-3 my-3">
        <div class="card my-3 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width: 18rem;">
          <img class="card-img-top" src="./assets/img/ejemplo.jpeg" alt="Logo de empresa">
          <div class="card-body">
            <h5 class="card-title">Lugar de trabajo</h5>
            <p class="card-text">Descripcion de actividad realizada.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">título del puesto</li>
            <li class="list-group-item">período trabajado</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">link a empresa</a>
          </div>
        </div>
      </div> 
      <div class="col-md-6 col-xl-3 my-3 " >
        <div class="card my-3 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width: 18rem;">
          <img class="card-img-top" src="./assets/img/ejemplo.jpeg" alt="Logo de empresa">
          <div class="card-body">
            <h5 class="card-title">Lugar de trabajo</h5>
            <p class="card-text">Descripcion de actividad realizada.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">título del puesto</li>
            <li class="list-group-item">período trabajado</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">link a empresa</a>
          </div>
        </div>
      </div> 
      <div class="col-md-6 col-xl-3 my-3 ">
        <div class="card my-3 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="width: 18rem;">
          <img class="card-img-top" src="./assets/img/ejemplo.jpeg" alt="Logo de empresa">
          <div class="card-body">
            <h5 class="card-title">Lugar de trabajo</h5>
            <p class="card-text">Descripcion de actividad realizada.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">título del puesto</li>
            <li class="list-group-item">período trabajado</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">link a empresa</a>
          </div>
        </div>
      </div>

      
    </div>  





    

  </div>