<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
<app-navbar></app-navbar>

<div class="bootstrap-iso edit m-l-2 "  >
  <h2 class="m-3"> Agregar o modificar experiencias </h2>
 <div class="container-fluid ">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 center-content">
    <form method="post">
     <div class="form-group ">
      <label class="control-label " for="titulo">
       Titulo
      </label>
      <input class="form-control" id="name" name="name" type="text" placeholder="Título corto de experiencia"/>
     </div>

     <div class="form-group ">
        <label class="control-label " for="descripcion">
        Descripción
        </label>
        <input class="form-control" id="name" name="name" type="text"  placeholder="Describa su funcion es esta experiencia"/>
       </div>


       <div class="form-group ">
        <label class="control-label " for="linkalugardeexp">
        Link a lugar donde realizó la experiencia
        </label>
        <input class="form-control" id="name" name="name" type="text" placeholder="Link a página de experiencia"/>
       </div>


       <div class="form-group ">
        <label class="control-label " for="período">
       Período
        </label>
        <input class="form-control" id="name" name="name" type="text" placeholder="Ingrese período de tiempo"/>
       </div>
          <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Guardar
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

