
  <div class="copyright py-4 text-center text-bg-dark">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#./" class="nav-link px-2 text-secondary">Home</a></li>
      <li><a href= "#exp"  class="nav-link px-2 text-white">Experiencia</a></li>
      <li><a href="#edu" class="nav-link px-2 text-white">Educación</a></li>
      <li><a href="#hab" class="nav-link px-2 text-white">Habilidades</a></li>
      <li><a href="#pro" class="nav-link px-2 text-white">Proyectos</a></li>
    </ul>

    <div class="container fina"><small>Copyright &copy; Derechos reservados 2023</small></div>
  </div>