
.bootstrap-iso.formden_header h2, .bootstrap-iso .formden_header p,
 .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black} 
 .bootstrap-iso form button, .bootstrap-iso form button:hover{color: rgb(101, 240, 46) !important;} 
  .asteriskField{color: red;}

  .edit{
    background-color:rgb(226, 212, 20);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  