<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
<app-navbar></app-navbar>

<div class="bootstrap-iso edit m-l-2 "  >
  <h2 class="m-3"> Agregar habilidades </h2>
 <div class="container-fluid ">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 center-content">
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="form">
     <div class="form-group ">
      <label class="control-label " for="nombreHabilidad">
       Titulo de la habilidad
      </label>
      <input class="form-control" id="nombreHabilidad" formControlName="nombreHabilidad" type="text"
       placeholder="Título corto de la habilidad adquirida" [(ngModel)]="habilidadList.nombreHabilidad "/>
     </div>

     <div class="form-group ">
        <label class="control-label " for="nivel">
        Nivel
        </label>
        <input class="form-control" id="nivel" formControlName="nivel" type="text"  placeholder="Nivel de habilidad en %" [(ngModel)]="habilidadList.nivel"/>
       </div>
          <div class="form-group">
            <div class="form-group">
                    
                <input class="form-control" id="idHabilidad" formControlName="idHabilidad" type="hidden" [(ngModel)]="habilidadList.idHabilidad"  />
            </div>

      <div>
       <button class="btn btn-primary " formControlName="submit" type="submit">
        Guardar
       </button>
       <button class="btn btn-primary m-2" routerLink="/">
        <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
<app-copy></app-copy>
