<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<app-navbar></app-navbar>

<div class="bootstrap-iso edit m-l-2">
    <h2 class="m-3">Agregar educación recibida</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 center-content">
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="form">
                    <div class="form-group">
                        <label class="control-label" for="titulo"> Título </label>
                        <input class="form-control" id="titulo" formControlName="titulo" type="text"
                            placeholder="Título corto de educación" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="urlimagenLogo">
                            URL imagen de estudio
                        </label>
                        <input class="form-control" id="urlimagLogo" formControlName="urlimagLogo" type="text"
                            placeholder="URL imagen de estudio o logo" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="descripcion"> Descripción </label>
                        <input class="form-control" id="descripcion" formControlName="descripcion" type="text"
                            placeholder="Describa carrera, título o curso" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="urllinkSitio">
                            Link a lugar donde realizó la experiencia
                        </label>
                        <input class="form-control" id="urllinkSitio" formControlName="urllinkSitio" type="text"
                            placeholder="Link a página de organismo" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="desLinkSitioOrg">
                            Nombre corto del Link, donde realizó la experiencia
                        </label>
                        <input class="form-control" id="desLinkSitioOrg" formControlName="descLinkSitioOrg" type="text"
                            placeholder="Link a página de organismo" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="urlcertificado"> URL certificado </label>
                        <input class="form-control" id="urlcertificado" formControlName="urlcertificado" type="text" placeholder="URL certificado" />
                    </div>
                   
                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary" formControlName="submit" type="submit">
                                Guardar
                            </button> 
                            <button class="btn btn-primary m-2" routerLink="/">
                            <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                        </div>
                       

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-copy></app-copy>
