<div class="container-fluid" >
    <p>Editar contenidos del porfolio</p>
    <section>
        <div class="row-cols-md-auto flex-lg-row">
            <div class=" col-md-6 col-xs-12">
            <button class=" margen btn btn-primary estiloboton px-2" type="submit">Editar</button>
            <button class=" margen btn btn-primary estiloboton px-2" type="submit">Guardar cambios</button>
            <input class="margen btn btn-primary estiloboton px-2" type="button" value="Salir modo edicion">
            <input class="btn btn-primary estiloboton px-2" type="submit" value="Borrar todo">
            </div>
        </div>
      </section>
    <p>
    
</div>