<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
<p> Perfil del usuario </p>
<div class="bootstrap-iso "  >
 <div class="container-fluid ">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 center-content">
    <form method="post">
     <div class="form-group ">
      <label class="control-label " for="name">
       Nombre
      </label>
      <input class="form-control" id="name" name="name" type="text"/>
     </div>

     <div class="form-group ">
        <label class="control-label " for="apellido">
        Apellido
        </label>
        <input class="form-control" id="name" name="name" type="text"/>
       </div>
     
     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       Email
      </label>
      <input class="form-control" id="email" name="email" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="text">
       Título
      </label>
      <input class="form-control" id="text" name="text" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="tel">
       Teléfono
      </label>
      <input class="form-control" id="tel" name="tel" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url">
       URL banner
      </label>
      <input class="form-control" id="url" name="url" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url1">
       URL foto de perfil
      </label>
      <input class="form-control" id="url1" name="url1" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url2">
       URL Instagram
      </label>
      <input class="form-control" id="url2" name="url2" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url3">
       URL Facebook
      </label>
      <input class="form-control" id="url3" name="url3" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="url4">
       URL LinkedIn
      </label>
      <input class="form-control" id="url4" name="url4" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="date">
       Fecha de nacimiento
      </label>
      <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="text1">
       Especialidad principal
      </label>
      <input class="form-control" id="text1" name="text1" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="text2">
       Especialidad Secundaria
      </label>
      <input class="form-control" id="text2" name="text2" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="text3">
       Especialidad Terciaria
      </label>
      <input class="form-control" id="text3" name="text3" type="text"/>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Guardar
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

